.text-area {
    -fx-font-family: Consolas;
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-cursor: DEFAULT ;
}

.text-field{
    -fx-font-family: Consolas;
    -fx-text-fill: black;
    -fx-display-caret:true;
    -fx-text-inner-color: orange;
}

.text-field .content {
    -fx-text-inner-color: orange;
    -fx-text-fill: black;
    -fx-cursor: DEFAULT ;
}

.table-view {
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, orangered, orange);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, orangered, orange);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, orangered, orange);
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: orange;
    -fx-text-fill: black;
}

.table-row-cell:selected{
-fx-background-color: orange;
}

.choice-box .menu-item:focused{
-fx-background-color: orange;
}

.check-box .box {
-fx-background-color: white;
}

.check-box:selected .box {
-fx-background-color: orange;
}