.text-area {
    -fx-font-family: Consolas;
    -fx-text-fill: green;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: black;
    -fx-cursor: DEFAULT ;
}

.text-field{
    -fx-font-family: Consolas;
    -fx-text-fill: red;
    -fx-display-caret:true;
    -fx-text-inner-color: black;
}

.text-field .content {
    -fx-text-inner-color: black;
    -fx-cursor: DEFAULT ;
}

.TaskTable{
-fx-text-fill: blue;
}

.tableView {
    column-header-background-color: slategray;
}